@charset "UTF-8";
.container {
    color: #f0f;
    background-color: #fff; /*黄色*/
    margin: -13px;
    margin-bottom: 0px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div{
        color: #000;
        /*background-color: #7f7;*/
        display: flex;
        align-items: center;
        margin-top: 5px;

        .title{
            &-logo {
                height: 33px;
                margin: 10px 10px;
                padding-left: 15px;
                /*background-color: #f77;*/
            }
            &-msg{
                flex-direction: column;
                margin: 5px;
                /*background-color: #70f;*/
                display: flex;
                align-items: flex-start;

                p{
                    color: #000;
                    /*background-color: #7ff;*/
                    margin: -3px;
                    padding: 0px 5px;
                    font-size: 13px;
                    strong{
                        font-weight: 900;
                        .leage{
                            font-size: 1.2rem;
                        }
                    }
                }
            }    
        }
        ul.menu {
            list-style-type: none;
            display: flex;
            /*background-color: #07f;*/
            margin: 0px;
            padding: 0px;
            justify-content: space-between;

            li{
                font-size: 16px;
                margin: 0px;
                padding: 23px 15px;
                /*background-color: #fff;*/
            }
            :last-child{
                background-color: rgb(75, 75, 231);
                padding: 23px 21px 23px 17px;
                font-size: 16px;
                color: #fff;
            }
        }
    }
}
main{
    /*
    background-image:
        url(../images/bg-hero1.png),
        url(../images/bg-hero2.png),
        url(../images/bg-hero3.png);
    background-size: cover;
    height: 100vh;
    */
    .background_img{
        position: relative;
        .bkimg1{
            position: absolute;
            //background-position: 50% 50%;
            //width: 100%;
            height: 650px;
        }
        .bkimg2{
            position: absolute;
            width: 100%;
            height: 650px;
        }
        .bkimg3{
            //position: absolute;
            width: 100vw;
            height: 650px;
        }
    }
    background-color: #777;
    margin: 0px -10px;
}