@charset "UTF-8";
header {
    color: #f0f;
    display: inline-block;
    background-color: #ff0;
    display: inline-block;
    margin-top: 10px;
}



header div{
    display: inline-block;
    color: rgb(255, 0, 0);
}
header > div > li {
    display: inline-block;}
.container{
    background-color: rgb(0, 255, 128);
    /*color: rgb(25, 0, 255);*/
    height: 50px;
    
}
img {
    height: 30px;
}