@charset "UTF-8";
.container {
    color: #f0f;
    background-color: #ff0;
    border-color: black;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div{
        color: rgb(255, 0, 0);
        background-color: #7f7;
        display: flex;
        align-items: center;
        margin-top: 3px;

        .title{
            &-logo {
                height: 34px;
                margin: 10px 10px;
                background-color: #f77;
            }
            &-message{
                color: #fff;
                flex-direction: column;
                margin: 5px;
                background-color: #70f;
                display: flex;
                align-items: flex-start;
                p{
                    color: #000;
                    background-color: #7ff;
                    margin: -3px;
                    padding: 0px;
                    font-size: 13px;
                    strong{
                        font-size: 1.2rem;
                    }
                }
            }    
        }
        ul.menu {
            list-style-type: none;
            display: flex;
            background-color: #07f;
            margin: 5px;
            padding: 5px;
            justify-content: space-between;

            li{
                font-size: 15px;
                margin: 5px;
                background-color: #fff;
            }
        }
    }
}
main{
    background-color: #777;
}